#header {  
    padding: 0em 2em;
    border-bottom: 2px solid #fcfcfc;
    border-radius: 1em;
    background-color: #035c3e;
    color: beige;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

a { 
    margin: 0 0.5em;
    text-decoration: none;
    color: beige;
}

.logo { 
    width: 12rem;
}
