extends layout

block layout-content
    h1.page-title About Us

   
    section
        h4 Our Mission
        p Our mission is to provide high-quality products and services to our customers.

    section
        h4 Our Team
        p We have a diverse and talented team dedicated to achieving our mission.

    section
        h4 Contact Us
        p You can reach us at:
        ul
            li Email: contact@ourcompany.com
            li Phone: (123) 456-7890