doctype html
html
    head 
        meta(charset="utf-8")
        title #{title} | Test Website
        link(rel="stylesheet", href="/style.css")
    body
        //- header#header is the short form for header(id='header')
        //- You can also use . for class name (e.g., div.myclass)
        header#header
            div.header-content
                h2#site-name 
                    a(href="#") Shop
        main#main 
            block layout-content
        footer#footer
            p &copy; Copyright ShopShop, 2025.
