extends common/layout

block layout-content 
  .main-content 
    h1.page-title Testing Mongoose
    each movie in movies
      div 
        h2 #{movie.title}, #{movie.year}
        p #{movie.rating} 